::-webkit-scrollbar {
  width: 6px;
} 

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #adbac7;
  border-radius: 6px; 
}


::-webkit-scrollbar-thumb:hover {
  background: #adbac7;
} 
